<p>
  <strong>Título:</strong>
  <%= @category.title %>
</p>

<%= link_to 'Editar', edit_category_path(@category), class: "btn btn-secondary" %> |
<%= link_to 'Voltar', categories_path, class: "btn btn-outline-secondary" %>
