<h1>Editing Activity</h1>

<%= render 'form', activity: @activity %>

<br/>
<%= link_to 'Mostrar', @activity, class: "btn btn-secondary" %> 
<%= link_to 'Deletar', @activity, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-secondary" %>
<%= link_to 'Voltar', activities_path, class: "btn btn-dark" %>
